.hidden {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  margin-bottom: 0px;
}

.shown {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
  margin-bottom: 20px;
}
